.todo_panel{
  margin: auto;
  width: 50%;
  height: 50px;
  background-color: darkcyan;
  margin-top: 20px;
  color:white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
  border-radius: 10px;
}
form{
  width: 225px;
  height: 25px;
  margin:20px auto;
  display: flex;
  justify-content: space-between;

}
.img_panel{
  background-image: url(trash.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
button{
  background-color: darkcyan;
  color: white;
  outline: none;
}
input{
  border: 0px;
  border-bottom: 2px solid darkcyan;
  outline: none;
}
input:focus{
  border-color: crimson;
}